.content-left {
  position: fixed;
  bottom:0;
  top: 70px;
  left: 0;
  overflow-y: scroll;
  }

.content-right {
  position: fixed;
  bottom:0;
  top: 70px;
  right: 0;
  overflow-y: hidden;
}

table {
  border-right:none;
  border-bottom:none;
  border-top: none;
}
table td {
  padding: 10px;

}
