.content-left {
  position: fixed;
  bottom:0;
  top: 70px;
  left: 0;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background-color: $light_gray;
  }

.content-right {
  position: fixed;
  bottom:0;
  top: 70px;
  right: 0;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  background-color: $silver;
}
