<div class="container">
  <% content_for(:title_tag) do %>
    Add your lisiting
  <% end %>

      <h1>Add your listing</h1>

    <%= render "form", equipment: @equipment %>


      <%= link_to 'Back to your profile', current_user %>


</div>
