

<div class="container">
  <% content_for(:title_tag) do %>
    Search results
  <% end %>

  <div class="row">
    <div class="col-md-6">
  <h1>Search results</h1>
      <% @equipment.each do |equipment| %>
        <tr>
          <td><%= cl_image_tag(equipment_image_path(equipment)) %></td>
          <td valign="bottom"><%= equipment.title %></td>
      <% end %>
    </div>


  <div class="col-md-6">

    <div id="map" style="width: 100%; height: calc(100vh - 70px)">
      <%= render "shared/maps", location: @hash %></div>

    </div>
  </div>
</div>




