<% content_for(:title_tag) do %>
   Surfboard - <%= @equipment.title %>
<% end %>

<div class="container">
  <h1><%= @equipment.title %></h1>
</div>

<div class="container">

    <div class="content-left col-md-8 col-xs-12">

    </div>

      <div class="content-right col-md-4 hidden-sm">

    </div>
</div>




