<% content_for(:title_tag) do %>
   Surfboard - <%= @equipment.title %>
<% end %>

<div class="container">
  <h1><%= @equipment.title %></h1>
</div>

<div class="container">
 <!-- First row -->
<div class="row">

</div>
 <!-- Second row -->
<div class="row">

</div>

 <!-- Third row -->
  <div class="row">

  </div>
</div>








