 <div class="container">

   <h3><strong><%= link_to "Cities", equipment_index_path%></strong></h3>

   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="card" id="lisbon" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/31737/pexels-photo.jpg');">
        <div class="card-category text-center">
          <h2>Lisbon</h2>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
     <div class="card" id="rio" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/161212/rio-de-janeiro-olympics-2016-niteroi-brazil-161212.jpeg');">
        <div class="card-category text-center">
        <h2>Rio de Janeiro</h2>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" id="barcelona" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/136190/pexels-photo-136190.jpeg');">
        <div class="card-category">
          <h2>Barcelona</h2>
       </div>
      </div>
    </div>
  </div>
</div>

