
#footer {
  width: 100%;
  background-color: $light_gray;
  text-align: center;
  height: 100px;
}

.copyright {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 10px;
  color: $gray;
  margin-left: 20px;
  margin-top: 3px;
}

.menu a {
  color: $gray;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 3px;
  padding-top: ((100px - (20px * 1.4)) / 2);
  &:hover {
  color: $blue;
  }
}

#footer .fa {
  color: $gray;
  font-size: 20px;
  text-decoration: none;
  &:hover {
  color: $blue;
  text-decoration: none;
  }
}

#footer {
  padding-top: ((100px - (20px * 1.4)) / 2);
}
