
#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #efefef;
  text-align: center;
}

.copyright {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 10px;
  color: #778384;
  margin-left: 20px;
  margin-top: 3px;
}

.menu a {
  color: #778384;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 3px;
  &:hover {
  color: #007090;
  }
}

#footer .fa {
  color: #778384;
  font-size: 20px;
  text-decoration: none;
  &:hover {
  color: #007090;
  text-decoration: none;
  }
}


